<script>
  import Api from "@/api.js";

  function onClickPurgeDatabase(event) {
    if (confirm("Purge Database? You will need to restart after.")) {
      Api.purge()
        .then((v) => alert("purged database"))
        .catch((e) => alert("failed to purge database"));
    }
  }
</script>

<div class="main">
  <h1>Home</h1>
  <button on:click={onClickPurgeDatabase}>Purge Database</button>
</div>

<style>
  .main {
    margin: 0.5em;
  }
</style>
