<script>
  export let error;
</script>

<div class="error-container">
  {#if error.messages}
    {#if error.messages.length > 0}
      Error: {error.messages[0]}
      {#each error.messages.slice(1) as message}
        <div class="error-cause">{message}</div>
      {/each}
    {:else}
      An unknown error occured
    {/if}
  {:else}
    {error.message}
  {/if}
</div>

<style>
  .error-container {
    text-align: left;
    color: #ff0000;
    margin: 0.3em;
  }

  .error-cause {
    margin-left: 2em;
  }
</style>
