<script>
  import { link } from "svelte-spa-router";
</script>

<nav>
  <ol>
    <li>
      <a href="/" use:link> Home </a>
    </li>
    <li>
      <a href="/videos" use:link> Videos </a>
    </li>
    <li>
      <a href="/downloads" use:link> Downloads </a>
    </li>
  </ol>
</nav>

<style>
  nav {
    background-color: var(--secondary-background-color);
    height: 3em;
    width: 100%;
  }

  a {
    color: var(--primary-text-color);
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
    text-decoration: none;
  }

  ol {
    display: flex;
    list-style-type: none;
    margin: 0 0;
    padding: 0 0;
    height: 100%;
  }

  li {
    align-items: center;
    background-color: var(--secondary-background-color);
    display: flex;
    transition: all 0.5s;
  }

  li:hover {
    filter: brightness(1.75);
  }
</style>
