<script>
  import { createEventDispatcher } from "svelte";

  export let placeholder = null;
  export let value = null;

  const dispatch = createEventDispatcher();

  function handleKeyDown(event) {
    if (event.key === "Enter") {
      dispatch("submit", {
        value: value,
      });
    }
  }
</script>

<div class="input-container">
  <input
    type="text"
    autocomplete="off"
    spellcheck="false"
    {placeholder}
    bind:value
    on:keydown={handleKeyDown}
  />
</div>

<style>
  .input-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
  }

  .input-container input {
    appearance: none;
    background-color: var(--primary-background-color);
    border-color: var(--secondary-background-color);
    border-radius: 0.2em;
    border-style: solid;
    color: var(--primary-text-color);
    flex-grow: 0.5;
    font-size: 1.5em;
    font-family: "sans-serif";
    padding: 0.2em;
    outline: none;
  }

  .input-container input::placeholder {
    color: var(--primary-text-color);
    filter: brightness(85%);
  }

  .input-container input::-webkit-search-cancel-button {
    display: none;
  }

  .input-container input:focus {
    background-color: var(--secondary-background-color);
    border-color: var(--secondary-background-color);
  }

  .input-container input:hover {
    background-color: var(--secondary-background-color);
    border-color: var(--secondary-background-color);
  }
</style>
