<script>
  import { link } from "svelte-spa-router";
  export let video = {};
</script>

<a href="/videos/{video.url_slug}" class="video-link" use:link>
  <img
    src="/collection/thumbnails/{video.url_slug}.png"
    alt={video.name}
    width="268"
    height="394"
  />
  <h2 class="title">
    {video.name}
  </h2>
</a>

<style>
  .video-link {
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    margin: 0.3em;
    color: white;
    background-color: #303030;
    max-width: 8em;
    padding: 0.5em;
    overflow: hidden;
    border-radius: 0.3em;
  }

  .title {
    margin-top: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
    overflow: hidden;
    font-weight: normal;
    font-size: 1em;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 100%;
    max-height: 100%;
    height: auto;
    border-radius: 0.3em;
  }
</style>
