<script>
  import ErrorDisplay from "../../components/ErrorDisplay.svelte";
  import VideoCover from "../../components/VideoCover.svelte";
  import Api from "@/api.js";

  let listVideosPromise = Api.listVideos();
</script>

<div class="content-container">
  <h1>Videos</h1>
  {#await listVideosPromise}
    <div class="loading-container">Loading...</div>
  {:then listing}
    <div class="videos-container">
      {#if listing.length > 0}
        {#each listing as video}
          <VideoCover {video} />
        {/each}
      {:else}
        No Videos
      {/if}
    </div>
  {:catch error}
    <ErrorDisplay {error} />
  {/await}
</div>

<style>
  h1 {
    text-align: center;
  }

  .content-container {
    margin: 0.3em;
  }

  .loading-container {
    text-align: center;
  }

  .videos-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
</style>
