<script>
  import ErrorDisplay from "@/components/ErrorDisplay.svelte";
  import VideoCover from "@/components/VideoCover.svelte";
  import Api from "@/Api.js";

  export let params = {};

  $: videoPromise = Api.getVideo(params.urlSlug);
</script>

<div class="content-container">
  <!-- svelte-ignore a11y-media-has-caption -->
  <div class="video-container">
    <video
      src="/collection/{params.urlSlug}.mp4"
      poster="/collection/thumbnails/{params.urlSlug}.png"
      controls
      preload="auto"
    />
  </div>
  <div class="info-holder">
    {#await videoPromise}
      Loading...
    {:then video}
      <h1>{video.name}</h1>
      {#if video.related.length > 1}
        <div class="related-container">
          <h2>Related</h2>
          {#each video.related.filter((video) => video.url_slug != params.urlSlug) as video}
            <VideoCover {video} />
          {/each}
        </div>
      {/if}
    {:catch error}
      <ErrorDisplay {error} />
    {/await}
  </div>
</div>

<style>
  .content-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    flex-grow: 1;
  }

  .video-container {
    align-items: center;
    aspect-ratio: 16 / 9;
    display: flex;
    height: auto;
    justify-content: center;
    max-height: 50vh;
    max-width: 100vw;
    margin: 0.3em;
    object-fit: scale-down;
    padding: 0;
  }

  video {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
  }

  .info-holder {
    background-color: #303030;
    margin: 0.5em;
    flex-grow: 1;
    border-radius: 0.3em;
    padding: 0.5em;
  }

  .related-container {
    background-color: #383838;
    padding: 0.3em;
    border-radius: 0.3em;
  }
</style>
