<script>
  import TextInput from "@/components/TextInput.svelte";
  import ErrorDisplay from "@/components/ErrorDisplay.svelte";
  import Api from "@/Api.js";
  import { link } from "svelte-spa-router";

  let inputValue = "";

  let downloadsPromise = null;
  function refreshDownloadsList() {
    downloadsPromise = Api.listDownloads();
  }

  function handleInputSubmit(event) {
    let url = null;
    try {
      url = new URL(inputValue);
    } catch (e) {
      alert("invalid url");
      return;
    }

    let prefix = "/videos/hentai/";
    let path = url.pathname;
    if (!path.startsWith(prefix)) {
      alert("invalid url path");
      return;
    }

    let urlSlug = path.slice(prefix.length);

    Api.createDownload(urlSlug)
      .then(() => {
        refreshDownloadsList();
      })
      .catch((e) => {
        alert(e.message);
      });
  }

  function handleDeleteButtonClick(urlSlug) {
    Api.deleteDownload(urlSlug)
      .then(() => {
        refreshDownloadsList();
      })
      .catch((e) => {
        alert(e.message);
      });
  }

  refreshDownloadsList();
</script>

<div class="container">
  <h1>Downloads</h1>
  <TextInput
    placeholder="Enter a video url"
    bind:value={inputValue}
    on:submit={handleInputSubmit}
  />

  {#await downloadsPromise}
    Loading...
  {:then downloads}
    {#if downloads.length === 0}
      No Downloads
    {/if}

    <ol class="downloads-list">
      {#each downloads as download}
        <li>
          <a href="/downloads/{download}" use:link>
            <h2>{download}</h2>
          </a>
          <button
            class="delete-button"
            on:click={(event) => {
              handleDeleteButtonClick(download);
            }}
          >
            X
          </button>
        </li>
      {/each}
    </ol>
  {:catch error}
    <ErrorDisplay {error} />
  {/await}
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  .downloads-list {
    padding: 0;
  }

  .downloads-list li {
    background-color: var(--secondary-background-color);
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    margin: 0.5em;
  }

  .downloads-list a {
    color: inherit;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    width: 100%;
  }

  .downloads-list h2 {
    flex-grow: 1;
  }

  .downloads-list .delete-button {
    border: 0;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: red;
    transition: all 0.2s;
  }

  .downloads-list .delete-button:active {
    filter: brightness(50%);
  }
</style>
