<script>
  import Api from "@/Api.js";
  import ErrorDisplay from "@/components/ErrorDisplay.svelte";
  import { onMount, onDestroy } from "svelte";

  export let params = {};

  let downloadState = {
    error: null,
    streamDuration: null,
    streamProgress: null,
  };

  let subscription = null;

  onMount(() => {
    subscription = Api.subscribeDownload(params.urlSlug);

    subscription.setHandler("error", (eventData) => {
      downloadState.error = eventData;
    });
    subscription.setHandler("sse-error", (event) => {
      alert("sse error");
    });
    subscription.setHandler("state", (eventData) => {
      downloadState = eventData;
    });
    subscription.setHandler("stream", (eventData) => {
      downloadState.streamDuration = eventData.duration;
    });
    subscription.setHandler("stream-progress", (eventData) => {
      downloadState.streamProgress = eventData.progress;
    });
  });

  onDestroy(() => {
    if (subscription !== null) subscription.close();
  });
</script>

<div class="container">
  <h1>{params.urlSlug}</h1>
  {#if downloadState.error !== null}
    <ErrorDisplay error={downloadState.error} />
  {/if}
  <div class="progress-container">
    <h2>Stream Progress</h2>
    <div class="bar-container">
      {#if downloadState.streamDuration !== null}
        <progress
          max={downloadState.streamDuration}
          value={downloadState.streamProgress || 0}
        />
      {:else}
        Initializing...
      {/if}
    </div>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
  }

  h1 {
    text-align: center;
  }

  .progress-container {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .progress-container .bar-container {
    flex-grow: 1;
    margin-left: 0.5em;
  }

  .progress-container progress {
    appearance: none;
    width: 100%;
  }

  .progress-container progress::-webkit-progress-bar {
    background-color: --var(--secondary-background-color);
    border-radius: 0.5em;
  }

  .progress-container progress::-webkit-progress-value {
    background-color: #f3c669;
    border-radius: 0.5em;
  }
</style>
