<script>
  import Router from "svelte-spa-router";
  import Index from "./routes/Index.svelte";
  import VideosIndex from "./routes/videos/Index.svelte";
  import VideosUrlSlug from "./routes/videos/{urlSlug}.svelte";
  import DownloadsIndex from "./routes/downloads/Index.svelte";
  import DownloadsUrlSlug from "./routes/downloads/{urlSlug}.svelte";

  import NavBar from "./components/NavBar.svelte";

  const routes = {
    "/": Index,
    "/videos": VideosIndex,
    "/videos/:urlSlug": VideosUrlSlug,
    "/downloads": DownloadsIndex,
    "/downloads/:urlSlug": DownloadsUrlSlug,
  };
</script>

<NavBar />
<Router {routes} />
